service: hms-email-service

provider:
  name: aws
  runtime: python3.10

functions:
  sendEmail:
    handler: handler.send_email
    events:
      - http:
          path: send-email
          method: post

plugins:
  - serverless-offline
